:root {

  /* ==========================================
     PRIMITIVE COLORS (FOUNDATIONS)
     NOTE: These are foundations and should NOT be applied directly on the UI.
     ========================================== */
  --primitives-key-colors-primary-key-color: #3457d5ff;
  --primitives-key-colors-secondary-key-color: #e8a33dff;
  --primitives-key-colors-tertiary-key-color: #f7f3ecff;
  --primitives-key-colors-neutral-key-color: #2d2d2dff;
  --primitives-key-colors-neutral-variant-key-color: #d8d8d8ff;
  --primitives-key-colors-error-key-color: #dc2626ff;
  --primitives-key-colors-success-key-color: #2e7d32ff;
  --primitives-primary-color-palette-primary0: #000000ff;
  --primitives-primary-color-palette-primary10: #09102aff;
  --primitives-primary-color-palette-primary20: #112055ff;
  --primitives-primary-color-palette-primary30: #1a307fff;
  --primitives-primary-color-palette-primary40: #2340a9ff;
  --primitives-primary-color-palette-primary50: #2c50d3ff;
  --primitives-primary-color-palette-primary60: #5673dcff;
  --primitives-primary-color-palette-primary70: #8096e5ff;
  --primitives-primary-color-palette-primary80: #aab9eeff;
  --primitives-primary-color-palette-primary90: #d5dcf6ff;
  --primitives-primary-color-palette-primary95: #eaeefbff;
  --primitives-primary-color-palette-primary98: #f7f8fdff;
  --primitives-primary-color-palette-primary99: #fbfbfeff;
  --primitives-primary-color-palette-primary100: #ffffffff;
  --primitives-secondary-color-palette-secondary0: #000000ff;
  --primitives-secondary-color-palette-secondary10: #2e1d05ff;
  --primitives-secondary-color-palette-secondary20: #5b3b0bff;
  --primitives-secondary-color-palette-secondary30: #895810ff;
  --primitives-secondary-color-palette-secondary40: #b67616ff;
  --primitives-secondary-color-palette-secondary50: #e4931bff;
  --primitives-secondary-color-palette-secondary60: #e9a949ff;
  --primitives-secondary-color-palette-secondary70: #efbe76ff;
  --primitives-secondary-color-palette-secondary80: #f4d4a4ff;
  --primitives-secondary-color-palette-secondary90: #fae9d1ff;
  --primitives-secondary-color-palette-secondary95: #fcf4e8ff;
  --primitives-secondary-color-palette-secondary98: #fefbf6ff;
  --primitives-secondary-color-palette-secondary99: #fefdfaff;
  --primitives-secondary-color-palette-secondary100: #ffffffff;
  --primitives-tertiary-color-palette-tertiary0: #000000ff;
  --primitives-tertiary-color-palette-tertiary10: #241c0fff;
  --primitives-tertiary-color-palette-tertiary20: #48391eff;
  --primitives-tertiary-color-palette-tertiary30: #6c552dff;
  --primitives-tertiary-color-palette-tertiary40: #90713cff;
  --primitives-tertiary-color-palette-tertiary50: #b38e4cff;
  --primitives-tertiary-color-palette-tertiary60: #c3a46fff;
  --primitives-tertiary-color-palette-tertiary70: #d2bb93ff;
  --primitives-tertiary-color-palette-tertiary80: #e1d2b7ff;
  --primitives-tertiary-color-palette-tertiary90: #f0e8dbff;
  --primitives-tertiary-color-palette-tertiary95: #f7f3ecff;
  --primitives-tertiary-color-palette-tertiary98: #fcfaf8ff;
  --primitives-tertiary-color-palette-tertiary99: #fdfdfbff;
  --primitives-tertiary-color-palette-tertiary100: #ffffffff;
  --primitives-neutral-color-palette-neutral0: #000000ff;
  --primitives-neutral-color-palette-neutral10: #1a1a1aff;
  --primitives-neutral-color-palette-neutral20: #333333ff;
  --primitives-neutral-color-palette-neutral30: #4d4d4dff;
  --primitives-neutral-color-palette-neutral40: #666666ff;
  --primitives-neutral-color-palette-neutral50: #808080ff;
  --primitives-neutral-color-palette-neutral60: #999999ff;
  --primitives-neutral-color-palette-neutral70: #b3b3b3ff;
  --primitives-neutral-color-palette-neutral80: #ccccccff;
  --primitives-neutral-color-palette-neutral90: #e6e6e6ff;
  --primitives-neutral-color-palette-neutral95: #f2f2f2ff;
  --primitives-neutral-color-palette-neutral98: #fafafaff;
  --primitives-neutral-color-palette-neutral99: #fcfcfcff;
  --primitives-neutral-color-palette-neutral100: #ffffffff;
  --primitives-neutral-color-palette-neutral92: #ebebebff;
  --primitives-neutral-color-palette-neutral94: #f0f0f0ff;
  --primitives-neutral-color-palette-neutral96: #f5f5f5ff;
  --primitives-neutral-varient-color-palette-neutral-varient0: #000000ff;
  --primitives-neutral-varient-color-palette-neutral-varient10: #1a1a1aff;
  --primitives-neutral-varient-color-palette-neutral-varient20: #333333ff;
  --primitives-neutral-varient-color-palette-neutral-varient30: #4d4d4dff;
  --primitives-neutral-varient-color-palette-neutral-varient40: #666666ff;
  --primitives-neutral-varient-color-palette-neutral-varient50: #808080ff;
  --primitives-neutral-varient-color-palette-neutral-varient60: #999999ff;
  --primitives-neutral-varient-color-palette-neutral-varient70: #b3b3b3ff;
  --primitives-neutral-varient-color-palette-neutral-varient80: #ccccccff;
  --primitives-neutral-varient-color-palette-neutral-varient90: #e6e6e6ff;
  --primitives-neutral-varient-color-palette-neutral-varient95: #f2f2f2ff;
  --primitives-neutral-varient-color-palette-neutral-varient98: #f2f2f2ff;
  --primitives-neutral-varient-color-palette-neutral-varient99: #fcfcfcff;
  --primitives-neutral-varient-color-palette-neutral-varient100: #ffffffff;
  --primitives-error-color-palette-error0: #000000ff;
  --primitives-error-color-palette-error10: #2c0707ff;
  --primitives-error-color-palette-error20: #580e0eff;
  --primitives-error-color-palette-error30: #841515ff;
  --primitives-error-color-palette-error40: #b01c1cff;
  --primitives-error-color-palette-error50: #dc2323ff;
  --primitives-error-color-palette-error60: #e34f4fff;
  --primitives-error-color-palette-error70: #ea7b7bff;
  --primitives-error-color-palette-error80: #f1a7a7ff;
  --primitives-error-color-palette-error90: #f8d3d3ff;
  --primitives-error-color-palette-error95: #fbe9e9ff;
  --primitives-error-color-palette-error98: #fef6f6ff;
  --primitives-error-color-palette-error99: #fefbfbff;
  --primitives-error-color-palette-error100: #ffffffff;
  --primitives-success-color-palette-success0: #000000ff;
  --primitives-success-color-palette-success10: #0e250fff;
  --primitives-success-color-palette-success20: #1b4b1eff;
  --primitives-success-color-palette-success30: #29702dff;
  --primitives-success-color-palette-success40: #37953cff;
  --primitives-success-color-palette-success50: #45ba4bff;
  --primitives-success-color-palette-success60: #6ac86fff;
  --primitives-success-color-palette-success70: #8fd693ff;
  --primitives-success-color-palette-success80: #b4e4b7ff;
  --primitives-success-color-palette-success90: #daf1dbff;
  --primitives-success-color-palette-success95: #ecf8edff;
  --primitives-success-color-palette-success98: #f8fcf8ff;
  --primitives-success-color-palette-success99: #ffffffff;
  --primitives-success-color-palette-success100: #ffffffff;

  /* ==========================================
     COLOR ROLES
     NOTE: Use these color variables directly on the UI components.
     ========================================== */
  --color-roles-primary: var(--primitives-key-colors-primary-key-color);
  --color-roles-on-primary: var(--primitives-primary-color-palette-primary100);
  --color-roles-primary-container: var(--primitives-primary-color-palette-primary90);
  --color-roles-on-primary-container: var(--primitives-primary-color-palette-primary30);
  --color-roles-secondary: var(--primitives-secondary-color-palette-secondary40);
  --color-roles-on-secondary: var(--primitives-secondary-color-palette-secondary100);
  --color-roles-secondary-container: var(--primitives-secondary-color-palette-secondary90);
  --color-roles-on-secondary-container: var(--primitives-secondary-color-palette-secondary30);
  --color-roles-tertiary: var(--primitives-tertiary-color-palette-tertiary40);
  --color-roles-on-tertiary: var(--primitives-tertiary-color-palette-tertiary100);
  --color-roles-tertiary-container: var(--primitives-tertiary-color-palette-tertiary90);
  --color-roles-on-tertiary-container: var(--primitives-tertiary-color-palette-tertiary30);
  --color-roles-surface: var(--primitives-neutral-color-palette-neutral98);
  --color-roles-on-surface: var(--primitives-neutral-color-palette-neutral10);
  --color-roles-surface-variant: var(--primitives-neutral-varient-color-palette-neutral-varient90);
  --color-roles-on-surface-variant: var(--primitives-neutral-varient-color-palette-neutral-varient30);
  --color-roles-surface-container-highest: var(--primitives-neutral-color-palette-neutral90);
  --color-roles-surface-container-high: var(--primitives-neutral-color-palette-neutral92);
  --color-roles-surface-container: var(--primitives-neutral-color-palette-neutral94);
  --color-roles-surface-container-low: var(--primitives-neutral-color-palette-neutral96);
  --color-roles-surface-container-lowest: var(--primitives-neutral-color-palette-neutral100);
  --color-roles-inverse-surface: var(--primitives-neutral-color-palette-neutral20);
  --color-roles-inverse-on-surface: var(--primitives-neutral-color-palette-neutral95);
  --color-roles-surface-tint: var(--primitives-primary-color-palette-primary40);
  --color-roles-error: var(--primitives-error-color-palette-error40);
  --color-roles-on-error: var(--primitives-error-color-palette-error100);
  --color-roles-error-container: var(--primitives-error-color-palette-error90);
  --color-roles-on-error-container: var(--primitives-error-color-palette-error30);
  --color-roles-success: var(--primitives-success-color-palette-success40);
  --color-roles-on-success: var(--primitives-success-color-palette-success100);
  --color-roles-success-container: var(--primitives-success-color-palette-success90);
  --color-roles-on-success-container: var(--primitives-success-color-palette-success30);

  /* --- EFFECT --- */
  --effect-button-shadow-soft: 2px 2px 4px 0px #1a1a1a14;
  --effect-button-shadow-medium: 2px 2px 12px 0px #1a1a1a40;
  --effect-button-shadow-hard: 2px 6px 45px 0px #1a1a1a40;

  /* --- SPACING --- */
  --spacing-no-spacing: 0;
  --spacing-extra-small-spacing: 4;
  --spacing-small-spacing: 8;
  --spacing-medium-spacing: 12;
  --spacing-base-spacing: 16;
  --spacing-large-spacing: 20;
  --spacing-extra-large: 24;
  --spacing-very-large-spacing: 32;

  /* --- TYPOGRAPHY --- */
  --typography-display-large-fontsize: 57;
  --typography-display-large-textdecoration: none;
  --typography-display-large-fontfamily: DM Sans;
  --typography-display-large-fontweight: 500;
  --typography-display-large-fontstyle: normal;
  --typography-display-large-fontstretch: normal;
  --typography-display-large-letterspacing: -2.28;
  --typography-display-large-lineheight: 85.5;
  --typography-display-large-paragraphindent: 0;
  --typography-display-large-paragraphspacing: 0;
  --typography-display-large-textcase: none;
  --typography-display-medium-fontsize: 50;
  --typography-display-medium-textdecoration: none;
  --typography-display-medium-fontfamily: DM Sans;
  --typography-display-medium-fontweight: 500;
  --typography-display-medium-fontstyle: normal;
  --typography-display-medium-fontstretch: normal;
  --typography-display-medium-letterspacing: -2;
  --typography-display-medium-lineheight: 75;
  --typography-display-medium-paragraphindent: 0;
  --typography-display-medium-paragraphspacing: 0;
  --typography-display-medium-textcase: none;
  --typography-display-small-fontsize: 40;
  --typography-display-small-textdecoration: none;
  --typography-display-small-fontfamily: DM Sans;
  --typography-display-small-fontweight: 500;
  --typography-display-small-fontstyle: normal;
  --typography-display-small-fontstretch: normal;
  --typography-display-small-letterspacing: -1.2;
  --typography-display-small-lineheight: 60;
  --typography-display-small-paragraphindent: 0;
  --typography-display-small-paragraphspacing: 0;
  --typography-display-small-textcase: none;
  --typography-headline-large-fontsize: 32;
  --typography-headline-large-textdecoration: none;
  --typography-headline-large-fontfamily: DM Sans;
  --typography-headline-large-fontweight: 500;
  --typography-headline-large-fontstyle: normal;
  --typography-headline-large-fontstretch: normal;
  --typography-headline-large-letterspacing: -0.64;
  --typography-headline-large-lineheight: 48;
  --typography-headline-large-paragraphindent: 0;
  --typography-headline-large-paragraphspacing: 0;
  --typography-headline-large-textcase: none;
  --typography-headline-medium-fontsize: 28;
  --typography-headline-medium-textdecoration: none;
  --typography-headline-medium-fontfamily: DM Sans;
  --typography-headline-medium-fontweight: 500;
  --typography-headline-medium-fontstyle: normal;
  --typography-headline-medium-fontstretch: normal;
  --typography-headline-medium-letterspacing: -0.28;
  --typography-headline-medium-lineheight: 42;
  --typography-headline-medium-paragraphindent: 0;
  --typography-headline-medium-paragraphspacing: 0;
  --typography-headline-medium-textcase: none;
  --typography-headline-small-fontsize: 24;
  --typography-headline-small-textdecoration: none;
  --typography-headline-small-fontfamily: DM Sans;
  --typography-headline-small-fontweight: 500;
  --typography-headline-small-fontstyle: normal;
  --typography-headline-small-fontstretch: normal;
  --typography-headline-small-letterspacing: -0.24;
  --typography-headline-small-lineheight: 36;
  --typography-headline-small-paragraphindent: 0;
  --typography-headline-small-paragraphspacing: 0;
  --typography-headline-small-textcase: none;
  --typography-title-large-fontsize: 22;
  --typography-title-large-textdecoration: none;
  --typography-title-large-fontfamily: DM Sans;
  --typography-title-large-fontweight: 500;
  --typography-title-large-fontstyle: normal;
  --typography-title-large-fontstretch: normal;
  --typography-title-large-letterspacing: -0.22;
  --typography-title-large-lineheight: 33;
  --typography-title-large-paragraphindent: 0;
  --typography-title-large-paragraphspacing: 0;
  --typography-title-large-textcase: none;
  --typography-title-medium-fontsize: 16;
  --typography-title-medium-textdecoration: none;
  --typography-title-medium-fontfamily: DM Sans;
  --typography-title-medium-fontweight: 600;
  --typography-title-medium-fontstyle: normal;
  --typography-title-medium-fontstretch: normal;
  --typography-title-medium-letterspacing: -0.136;
  --typography-title-medium-lineheight: 24;
  --typography-title-medium-paragraphindent: 0;
  --typography-title-medium-paragraphspacing: 0;
  --typography-title-medium-textcase: none;
  --typography-title-small-fontsize: 14;
  --typography-title-small-textdecoration: none;
  --typography-title-small-fontfamily: DM Sans;
  --typography-title-small-fontweight: 500;
  --typography-title-small-fontstyle: normal;
  --typography-title-small-fontstretch: normal;
  --typography-title-small-letterspacing: 0.105;
  --typography-title-small-lineheight: 21;
  --typography-title-small-paragraphindent: 0;
  --typography-title-small-paragraphspacing: 0;
  --typography-title-small-textcase: none;
  --typography-body-large-fontsize: 16;
  --typography-body-large-textdecoration: none;
  --typography-body-large-fontfamily: DM Sans;
  --typography-body-large-fontweight: 500;
  --typography-body-large-fontstyle: normal;
  --typography-body-large-fontstretch: normal;
  --typography-body-large-letterspacing: -0.12;
  --typography-body-large-lineheight: 24;
  --typography-body-large-paragraphindent: 0;
  --typography-body-large-paragraphspacing: 0;
  --typography-body-large-textcase: none;
  --typography-body-medium-fontsize: 14;
  --typography-body-medium-textdecoration: none;
  --typography-body-medium-fontfamily: DM Sans;
  --typography-body-medium-fontweight: 500;
  --typography-body-medium-fontstyle: normal;
  --typography-body-medium-fontstretch: normal;
  --typography-body-medium-letterspacing: -0.105;
  --typography-body-medium-lineheight: 21;
  --typography-body-medium-paragraphindent: 0;
  --typography-body-medium-paragraphspacing: 0;
  --typography-body-medium-textcase: none;
  --typography-body-small-fontsize: 12;
  --typography-body-small-textdecoration: none;
  --typography-body-small-fontfamily: DM Sans;
  --typography-body-small-fontweight: 500;
  --typography-body-small-fontstyle: normal;
  --typography-body-small-fontstretch: normal;
  --typography-body-small-letterspacing: -0.09;
  --typography-body-small-lineheight: 18;
  --typography-body-small-paragraphindent: 0;
  --typography-body-small-paragraphspacing: 0;
  --typography-body-small-textcase: none;
  --typography-label-large-fontsize: 14;
  --typography-label-large-textdecoration: none;
  --typography-label-large-fontfamily: DM Sans;
  --typography-label-large-fontweight: 500;
  --typography-label-large-fontstyle: normal;
  --typography-label-large-fontstretch: normal;
  --typography-label-large-letterspacing: -0.126;
  --typography-label-large-lineheight: 21;
  --typography-label-large-paragraphindent: 0;
  --typography-label-large-paragraphspacing: 0;
  --typography-label-large-textcase: none;
  --typography-label-medium-fontsize: 12;
  --typography-label-medium-textdecoration: none;
  --typography-label-medium-fontfamily: DM Sans;
  --typography-label-medium-fontweight: 500;
  --typography-label-medium-fontstyle: normal;
  --typography-label-medium-fontstretch: normal;
  --typography-label-medium-letterspacing: -0.108;
  --typography-label-medium-lineheight: 18;
  --typography-label-medium-paragraphindent: 0;
  --typography-label-medium-paragraphspacing: 0;
  --typography-label-medium-textcase: none;
  --typography-label-small-fontsize: 11;
  --typography-label-small-textdecoration: none;
  --typography-label-small-fontfamily: DM Sans;
  --typography-label-small-fontweight: 500;
  --typography-label-small-fontstyle: normal;
  --typography-label-small-fontstretch: normal;
  --typography-label-small-letterspacing: -0.099;
  --typography-label-small-lineheight: 16.5;
  --typography-label-small-paragraphindent: 0;
  --typography-label-small-paragraphspacing: 0;
  --typography-label-small-textcase: none;
}
